/* Navbar.module.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
}

.centerLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.buttonLink {
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buttonLink:hover {
  background-color: #45a049;
}

.welcomeMessage {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
